@model List< MyApiProject.WebUI.Dtos.ResultProductDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<div class="container">

    <br />
    <br />

    <table class="table table-hover">
        <tr>
            <td>#</td>
            <td>Ürün Adı</td>
            <td>Stok</td>
            <td>Fiyat</td>
            <td>Sil</td>
            <td>Güncelle</td>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.Name</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductDecimal</td>
                <td> <a href="/Products/DeleteProduct/@item.ProductId" class="btn btn-danger">sil</a></td>
                <td> <a href="/Products/UpdateProduct/@item.ProductId" class="btn btn-success">güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Products/CreateProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>